:root{
    --mainColor:#343434;
    --secColor:#353839;
    
    --borderColor:#c1c1c1;

    --mainText:#f0f0f0;
    --secText:#d4d4d4;
}


html, body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 ,h6, strong{
    color: var(--mainText);
    font-family: 'Cinzel', serif;
}

p, li, span, label, input, textarea{
    color: var(--mainText);
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: solid;
    color:#eeeeee
}

ul{
    list-style: none;
}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;

    text-align: center;
    align-content: center;
    
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--secColor);
    border: 1px solid var(--borderColor);
    border-radius:5px 5px 5px 5px;

    -webkit-box-shadow: -4px -4px 8px -3px #000000; 
    box-shadow: -4px -4px 8px -3px #000000;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5em 20em;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper{
    background-color: #555859;
    grid-area: nav-wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
    border-radius:5px 5px 0 0;
}

.home-navigation{
    display: flex;
    padding: 10px;
}

#navigation{
    margin:0;
    padding: 5px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    padding:0px;
}


.left-column{
    grid-area: left-column;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
    align-content: center;
}

#profile-pic{
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 150px;
    height: 75px;    
    border: 2px solid var(--borderColor);
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
}

#preview{
    padding: 15px;
    margin-right: 15px;
    text-align: center;
    position: relative;
}

.section-title{
    text-align: right;
}

.content-w-2-column{
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    align-content: center;
    text-align: justify;

}

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%
    }
}